
  @charset "utf-8";

  /* =Elements
  ----------------------------------------------- */
  body {
    background: white;
    background-color: rgba(255, 204, 0, 0.025); /* @gold */
    color: rgb(42, 53, 56); /* @text-color */
    font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 400px) and (min-height: 200px) {
    body {
      font-size: 112.5%;
    }
  }

  @media (min-width: 500px) and (min-height: 250px) {
    body {
      font-size: 125%;
    }
  }

  @media (min-width: 1000px) and (min-height: 50px) {
    body {
      font-size: 137.5%;
    }
  }

  @media (min-width: 1500px) and (min-height: 750px) {
    body {
      font-size: 150%;
    }
  }

  @media (min-width: 2000px) and (min-height: 1000px) {
    header ul {
      font-size: 1.5em;
    }
  }

  a {
    color: rgb(255, 204, 0); /* @gold */
    color: rgb(0, 51, 135); /* @ocean */
  }

  h1, h2, h3, h4, h5, h6, p, ol, ul, dl, figure {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    font-weight: inherit;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }
  h1, h2 {
    text-transform: uppercase;
    font-weight: 300;
  }
  h1 strong, h2 strong {
    font-weight: 400;
  }
  h1, h2, h3, h4, h5, h6, p {
    max-width: 40em;
  }

  h1 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  h3 {
    font-size: 1.25em;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
  }

  h4 {
    font-size: 1.125em;
    margin-top: 1.3333333333em;
    margin-bottom: 0.6666666667em;
  }

  h5, h6 {
    font-size: 1em;
  }

  h6 {
    font-style: italic;
    font-weight: normal;
  }

  @media (min-width: 60em) {
    h1 {
      font-size: 3em;
      margin-top: 1em;
      margin-bottom: 0.5em;
    }
  }

  table, th, td {
    border-style: solid;
    border-color: rgba(204, 204, 204);
  }
  table {
    border-width: 1px 0 0 1px;
    border-spacing: 0;
  }
  th, td {
    border-width: 0 1px 1px 0;
    padding: 0.375em 0.75em;
  }

  .number {
    text-align: right;
  }

  .note {
    font-size: 0.75em;
    opacity: 0.75;
  }
  img {
    max-width: 100%;
    height: auto;
  }


  /* =Header
  ----------------------------------------------- */
  header {
    padding: 1em 1.5em;
    background-color: rgb(255, 204, 0); /* @gold */
    color: rgba(0, 0, 0, 0.9);
  }
  @media (min-width: 60em) {
    header {
      padding-left: 3em;
      padding-right: 3em;
    }
  }
  header a,
  nav a,
  footer a {
    color: inherit;
    transition: opacity 0.2s, color 0.2s, background-color 0.2s;
  }
  header a:hover,
  header a:active,
  header a:focus,
  nav a:hover,
  nav a:active,
  nav a:focus,
  footer a:hover,
  footer a:active,
  footer a:focus {
  }
  header h2,
  header p {
    margin: 0;
    display: inline-block;
  }
  header h2 {
    font-size: inherit;
    font-weight: 400;
    margin-right: 1.5em;
  }
  header h2 a {
    color: inherit;
    text-decoration: inherit;
  }
  header h2 + p {
    font-style: italic;
    opacity: 0.75;
  }
  header .nav-link {
    float: right;
    margin: 0;
  }
  nav form {
    text-align: center;
  }
  nav form p {
    max-width: none;
  }
  nav label span:first-child {
    /* @hidden-accessible */
    position: absolute;
    left: -9999px;
  }
  input {
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    border-width: 0;
    border-radius: 0.25em;
    padding: 0.375em;
    width: 20em;
    max-width: 100%;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.75);
    transition: background-color 0.2s;
  }
  input:focus {
    background-color: white;
  }
  @media (max-width: 30em) {
    input,
    button {
      width: 100%;
    }
  }
  header .nav-link a,
  button {
    -webkit-appearance: none;
    font-family: inherit;
    font-size: inherit;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-width: 0;
    padding: 0.375em 0.75em;
    border-radius: 0.25em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s;
    box-sizing: border-box;
  }
  header .nav-link a:hover,
  header .nav-link a:active,
  header .nav-link a:focus,
  button:hover,
  button:active,
  button:focus {
    background-color: black;
  }
  header ul {
    margin-bottom: 0;
  }
  @media (min-width: 85em) {
    header ul {
      float: right;
      margin-top: 0;
    }
  }
  header ul,
  header li,
  nav ul,
  nav li,
  footer ul,
  footer li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  header li,
  nav li,
  footer li {
    margin: 0 0.75em 0.75em;
    display: inline-block;
  }


  /* =Footer
  ----------------------------------------------- */
  footer,
  nav {
    padding: 1.5em;
    background-color: rgb(255, 204, 0); /* @gold */
    color: rgba(0, 0, 0, 0.9);
  }
  footer {
    background-color: rgb(67, 58, 33); /* @dark-gold */
    color: white;
    background-color: rgb(255, 204, 0); /* @gold */
    color: rgba(0, 0, 0, 0.9);
  }
  @media (min-width: 60em) {
    footer,
    nav {
      padding: 3em;
    }
  }
  footer h2 {
    margin-top: 0;
    font-size: inherit;
    line-height: inherit;
    margin-bottom: 0;
    font-weight: 400;
    line-height: inherit;
  }

  @media (min-width: 70em) {
    footer .contact {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  }
  footer .contact p {
    margin-top: 0;
  }
  footer .legal {
    margin-top: 3em;
    text-align: center;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }
  footer .legal h2 img {
    width: 5.25em;
    height: 5.25em;
  }
  footer .legal h2,
  footer .legal p {
    max-width: none;
  }
  nav ul {
    max-width: none;
    text-align: center;
    margin-top: 0;
    margin-bottom: 3em;
  }
  footer .nav ul {
    margin-top: 3em;
    max-width: none;
    text-align: center;
  }
  footer .nav:first-child ul {
    margin-top: 0;
    margin-bottom: 3em;
  }


  /* =Main
  ----------------------------------------------- */
  .text {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  main {
    padding-bottom: 3em;
    position: relative;
  }
  main > img:first-child {
    display: block;
  }
  @media (min-aspect-ratio: 1/1) {
    main > img:first-child {
      width: 100%;
      height: 70vh;
      object-fit: cover;
    }
  }
  /*
  main > img:first-child::after {
    content: "";
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0));
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
  }
  */
  @media (min-width: 60em) {
    main > img:first-child + h1 {
      position: absolute;
      top: 70vh;
      margin-top: 0;
      margin-bottom: 0;
      color: white;
      transform: translateY(-150%);
      background: black;
      background: rgba(0, 0, 0, 0.5);
    }
    main > img:first-child + h1 + p,
    main > img:first-child + h1 + dl {
      margin-top: 3em;
    }
  }

  main h1:first-child {
    margin-top: 0;
  }
  main:not(.schedule) > h1 {
    margin-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
  }
  main > h2 {
    margin-left: 0.75em;
    margin-right: 0.75em;
  }
  main > p,
  main > ul,
  main > dl {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  @media (min-width: 60em) {
    main > h2 {
      margin-left: 1.5em;
      margin-right: 1.5em;
    }
    main > p,
    main > ul,
    main > dl {
      margin-left: 3em;
      margin-right: 3em;
    }
  }


  /* =About
  ----------------------------------------------- */
  .about > h1 + .text {
    max-width: none;
  }
  @media (min-width: 60em) {
    .about > h1 + .text {
      margin-left: 1.5em;
      margin-right: 1.5em;
      margin-top: 1.5em;
      display: flex;
      justify-content: space-around;
    }
    .about > h1 + .text p {
      margin-right: 3em;
    }
  }


  /* =Schedule
  ----------------------------------------------- */
  .parents {
    margin-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 3em;
    /*
    column-count: 2;
    column-gap: 2.5em;
    */
  }
  @media (min-width: 60em) {
    .parents {
      padding-left: 3em;
      padding-right: 3em;
    }
    .parents:after {
      content: "";
      display: table;
      clear: both;
    }
    .parents section {
      float: left;
      width: 50%;
      box-sizing: border-box;
      padding-right: 3em;
    }
  }
  /*
  .parents section:first-child h2 {
    margin-top: 0;
  }
  .parents section {
    break-inside: avoid;
  }
  */


  /* =Schedule
  ----------------------------------------------- */
  .schedule {
    padding: 1.5em;
  }
  @media (min-width: 60em) {
    .schedule {
      padding: 3em;
    }
  }
  .schedule section h2 {
    margin-top: 0;
  }
  dl:after {
    content: "";
    display: table;
    clear: both;
  }
  dt {
    font-style: italic;
    clear: both;
    float: left;
    width: 25%;
    text-align: right;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    box-sizing: border-box;
  }
  dt + dd {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 0.375em;
  }
  dd {
    padding-left: 1.5em;
    padding-bottom: 0.375em;
    margin-left: 25%;
    width: 75%;
    box-sizing: border-box;
  }

  .schedule > section + section {
    margin-top: 3em;
  }
  @media (min-width: 60em) {
    .schedule:after {
      content: "";
      display: table;
      clear: both;
    }
    .schedule > section {
      float: left;
      width: 50%;
    }
    .schedule > section + section {
      margin-top: 0;
    }
  }


  /* =News
  ----------------------------------------------- */
  .news,
  .news li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .news {
    margin: 0;
  }
  .news:last-child {
    margin-bottom: -3em; /* main bottom padding */
  }
  .news li {
    padding: 1.5em;
  }
  @media (min-width: 60em) {
    .news li {
      padding: 3em;
    }
  }
  .news li:nth-child(3n+1) {
    background-color: rgb(222, 222, 222); /* @silver */
  }
  .news li:nth-child(3n+2) {
    background-color: rgb(238, 238, 238); /* @seashell */
  }
  .news .images::after {
  	content: "";
    display: table;
    clear: both;
  }
  .news .images img {
  	display: block;
  	width: 100%;
  }
  @media (min-width: 70em) {
    .news .images img {
      	width: 50%;
    	float: left;
    }
    .news .images img:nth-child(2n+1) {
    	clear: both;
    }
    .news .images img:nth-child(2n+1):last-child {
    	width: 100%;
      	float: none;
    }
  }
  .news .text {
    padding-top: 1.5em;
    padding-bottom: 3em;
    text-align: center;
    max-width: none;
    margin-left: 0;
    padding-left: 0;
  }
  .news .text h2 {
    max-width: 22em;
    margin-left: auto;
    margin-right: auto;
    text-transform: none;
  }
  .news .text p {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
  }


  /* =Home
  ----------------------------------------------- */
  /*
  .home header {
    position: absolute;
    background-color: transparent;
    color: white;
    z-index: 1;
    padding-left: 1.5em;
    width: 100%;
    box-sizing: border-box;
  }
  .home main {
    padding-bottom: 0;
  }
  */
  .home main .staff-list {
    
  }
  @media (min-width: 40em) {
    .summaries {
      display: flex;
    }
  }
  .summaries div {
    flex-basis: 50%;
    padding: 3em 1.5em;
    background-color: rgb(222, 222, 222); /* @silver */
  }
  .summaries .parents-summary {
    background-color: rgb(238, 238, 238); /* @seashell */
  }
  .summaries div h2,
  .parents-summary h2,
  .news-summary-home h2 {
    margin: 0;
  }
  .news-summary-more {
    background: black;
    color: white;
    margin: 0 0 -3em 0;
    padding: 3em;
    max-width: none;
  }
  .news-summary-more a {
    color: inherit;
  }
  .news-summary li {
    position: relative;
  }
  .news-summary li span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.75em 1.5em;
    background: rgba(0, 0, 0, 0.5);
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  }
  @media (min-width: 60em) {
    .news-summary li span {
    }
  }
  .news-summary li a::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background-color 0.2s;
  }
  .news-summary li a:hover::before,
  .news-summary li a:active::before,
  .news-summary li a:focus::before {
    background-color: transparent;
  }
  .news-summary li a {
    color: white;
  }
  .calendar-summary p {
    text-align: right;
    margin-bottom: 0;
  }
  .feature h2 {
    margin: 0;
    padding: 1.5em;
  }
  .feature .more {
    margin: 0;
    padding: 0 3em 3em;
    max-width: none;
  }
  @media (min-width: 60em) {
    .feature {
      position: relative;
    }
    .feature h2 {
      position: absolute;
    }
    .feature .more {
      position: absolute;
      top: 1.5em;
      right: 1.5em;

    }
    .summaries div,
    .parents-summary,
    .news-summary-home {
       padding-left: 3em;
       padding-right: 3em;
    }
  }
  .home main .feature {
    position: relative;
    background: black;
    color: white;
  }
  .home main .feature::before {
    content: "";
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .home main .feature img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  .home main .feature img + p {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 1.5em;
  }
  @media (min-width: 60em) {
    .home main .feature img + p {
      padding: 3em;
    }
  }
  .home main .feature a {
    color: inherit;
  }
  .news-summary,
  .news-summary li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .news-summary:last-child {
    margin-bottom: -3em;
  }
  .principals-message {
    background-color: rgb(222, 222, 222); /* @silver */
    background-color: rgb(238, 238, 238); /* @seashell */
  }
  .principals-message a {
    color: inherit;
  }
  .principals-message > div {
    padding: 3em 1.5em;
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
  }
  .news-summary {
    margin-top: 0;
    width: 100%;
    margin-bottom: 0;
  }
  @media (min-width: 60em) {
    .news-summary {
      display: flex;
    }
  }
  .news-summary img {
    display: block;
  }

  .introduction {
    background-color: rgb(237, 237, 239);
    position: relative;
    min-height: 100vh;
    padding-bottom: 0;
  }
  .introduction > div {
    position: relative;
    background-color: rgba(237, 237, 239, 0.75);
    z-index: 1;
    padding: 1.5em;
  }
  .introduction h1 {
    font-size: 2em;
    line-height: 1.5;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 0;
  }
  .introduction h2 {
    margin-top: 0.65em;
    font-family: "Roboto Slab", "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
    border-top: 2px solid;
    padding-top: 0.65em;
    font-size: 1.25em;
    line-height: 1.2;
  }
  .introduction > img {
    display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: auto;
      object-fit: cover;
  }
  @media (min-width: 60em) {
    .introduction div {
      padding: 6em 3em 1.5em;
      margin-left: 33.333%;
      margin-right: 5%;
    }
  }


  /* =Academics
  ----------------------------------------------- */
  .academics {
    padding-bottom: 0;
    width: 100vw;
    overflow-x: hidden;
  }
  .academics > div {
    border-width: 0.25em 0 0 0.25em;
    border-style: solid;
    border-color: white;
    margin-left: -0.25em;
    margin-right: -0.25em;
  }
  .academics > div::after {
    content: "";
    display: table;
    clear: both;
  }
  .academics section {
    padding: 75vh 1.5em 1.5em;
    /*
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    */
    position: relative;
    box-sizing: border-box;
    border-width: 0 0.25em 0.25em 0;
    border-style: solid;
    border-color: white;
  }
  .academics section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0));
    */
  }
  .academics section:nth-child(1) {
    width: 100%;
    padding-top: 50vh;
  }
  .academics section:nth-child(2),
  .academics section:nth-child(3),
  .academics section:nth-child(4),
  .academics section:nth-child(5),
  .academics section:nth-child(6) {
    padding-top: 75vh;
    min-height: 125vh;
  }
  .academics section:nth-child(6) {
    padding-top: 100vh;
    min-height: 154vh;
  }
  .academics section:nth-child(2),
  .academics section:nth-child(4),
  .academics section:nth-child(6) {
    clear: both;
  }
  .academics section:nth-child(7),
  .academics section:nth-child(8) {
    padding-top: 50vh;
  }
  @media (min-width: 60em) {
    .academics section {
      padding: 3em;
      float: left;
      width: 50%;
    }
  }
  @media (max-aspect-ratio: 1/1) {
    .academics section {
      width: 100%;
      padding-top: 100vh;
    }
  }
  .academics section img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  /*
  .academics section:nth-child(2) img,
  .academics section:nth-child(3) img,
  .academics section:nth-child(4) img,
  .academics section:nth-child(5) img,
  .academics section:nth-child(6) img  {
    object-position: top;
  }
  */
  .academics section h2,
  .academics section ul {
    position: relative;
    z-index: 1;
  }
  .academics section h2 {
    margin: -0.375em 0 0 -1.5em;
    padding: 0 0.75em 0 1.5em;
    display: table;
    background: rgb(0, 51, 135); /* @ocean */
    background: rgba(0, 51, 135, 0.95); /* @ocean */
    color: white;
    text-transform: none;
    font-weight: 500;
    /*
    border-bottom: 0.0625em solid rgb(222, 222, 222);*/ /* @silver */
  }
  .academics section small {
    font-style: italic;
    margin-left: 0.375em;
  }
  .academics section:nth-child(1),
  .academics section:nth-child(7),
  .academics section:nth-child(8) {
    color: white;
  }
  .academics section:nth-child(2),
  .academics section:nth-child(3),
  .academics section:nth-child(4),
  .academics section:nth-child(5),
  .academics section:nth-child(6) {
  }
  .academics section ul,
  .academics section li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .academics section ul {
    margin: 0.75em 0 0;
    background: white;
    background: rgba(255, 255, 255, 0.95);
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    padding-left: 3em;
    padding-right: 0.75em;
    margin-left: -3em;
    display: table;
  }
  .academics section ul li {
    color: rgb(42, 53, 56); /* @text-color */
    /*
    display: table;
    */
  }



  /* =Staff
  ----------------------------------------------- */

  .staff-list {
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .home .staff-list {
    padding-bottom: 1.5em;
  }
  .home .staff-list > p:last-child {
    text-align: center;
    max-width: none;
  }
  @media (min-width: 60em) {
    .staff-list {
      margin-left: 3em;
      margin-right: 3em;
    }
    .home .staff-list {
      position: relative;
    }
    .home .staff-list > p:last-child {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  .staff-list ul,
  .staff-list li {
    /* @reset-list */
    list-style: none;
    margin-left: 0;
    padding-left: 0;
  }
  .staff-list ul {
    max-width: none;
    font-size: 0.8181818182em; /* 18px / 22px */
    line-height: 1.2222222222; /* 22px / 18px */
    margin-left: -1.5em; /* item padding */
    margin-right: -1.5em;

    /* @flex-box-wrap */
    display: -webkit-flex;
    display:         flex;

    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .staff-list li {
    color: rgb(41, 53, 57);
    width: 100%;
    padding: 1.5em;
    text-align: center;
    box-sizing: border-box;
  }
  .staff-list li > a {
    color: inherit;
    font-style: inherit;
    text-decoration: inherit;
  }
  .staff-list li img {
    border-radius: 50%;
  }

  /* SHIM: This is prefixed with “main” so IE8 will ignore it (since it doesn’t understand HTML5 elements) */
  main .staff-list img {

    /* Make images shrink or grow to fit the available space */
    width: 100%;
    height: auto;

    /* But don’t let them get too large (for the case where there’s only one column) */
    /*
    max-width: 15em;
    */
  }

  .staff-list li h3,
  .staff-list li p {
    max-width: none;
  }
  .staff-list li h3 {
    margin: 0.75em 0 0 0;
    font-family: inherit;
  }
  .staff-list li p.title {
    font-style: italic;
    opacity: 0.6;
    margin: 0;
  }
  .staff-list li p {
  }

  @media (min-width: 20em) {
    .staff-list li {
      width: 50%;
    }
  }
  @media (min-width: 40em) {
    .staff-list li {
      width: 33.333%;
    }
  }
  @media (min-width: 60em) {
    .staff-list li {
      width: 25%;
    }
  }

  .staff-list h3 {
    font-size: inherit;
  }

  /*
  @media (min-width: 82.5em) {
    h1 + .staff-list h2 {
      margin-top: 0;
      margin-bottom: 0;
      float: left;
      width: calc(50% - 8em);
      width: 25%;
    }
    h1 + .staff-list ul {
      margin-left: calc(50% - 14em);
      margin-left: 30%;
    }
  }
  */
